html {
	visibility: visible;
}
a, a:hover {
	color: #A75496;
}
body {
	background-color: #FFFFFF;
}
.badge {
	background-color: #000000;
}
.btn-default, .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active,
.open .dropdown-toggle.btn-default {
	background-color: #FFFFFF;
	color: #A75496;
}
.btn-primary, .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active,
.btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active, .btn-primary.active[disabled], fieldset[disabled] .btn-primary.active {
	background-color: #A75496;
	border-color: #A75496;
}
.btn-group > .btn-primary {
	color: #A75496;
	background-color: #FFF;
	border-color: #FFF;
}
.btn-group > .btn-primary:hover, .btn-group > .btn-primary.active {
	color: #FFF;
	background-color: #A75496;
	border-color: #A75496;
}
.bubble {
	background: #FFF;
}
.bubble:after {
	border-color: transparent #FFF;
}
.datepicker button strong,
.datepicker button strong:active,
.datepicker button span,
.datepicker button span:active {
	color: #A75496;
}

.default-avatar  span {
	color: #A75496;
}
.form-control:focus {
	border-color: #A75496;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255, 103, 103, 0.6);
}
.left-menu{
	background-color: #FFFFFF;
}
.menu-central .nav-stacked {
	background-color: #A75496;
}
.menu-central .nav-stacked > li {
	background-color: #A75496;
}
.menu-central .nav-stacked > li > a {
	color: #FFF;
}
.modal {
	background-color: #FFF;
}
.navbar-default {
	background: #A75496;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
	background-color: #A75496;
}
.nav-pills > li > i {
	color: #000000;
}
.nav > li > a:hover, .nav > li > a:focus {
	background-color: #A75496;
	color: #FFF;
}
.nav > .ng-click-active {
	background-color: #EEE;
}
.nav-stacked .highlight {
	background-color: #FDEDF5;
}
.pg-btn-container {
	border-top-color: #FFFFFF;
	border-bottom-color: #FFFFFF;
}
.pg-btn-container>div {
	border-bottom-color: #FFFFFF;
}
.pg-btn-container>div>button, .pg-btn-container>div>button:hover {
	border-left-color: #FFFFFF;
}
#slider .descr {
    color: #FFF;
}
.switch {
	background-color: #A75496;
}
.view-fields {
	background-color: #FFF;
}
.wells .well {
	background-color: #FFF;
    border: 1px solid #FFFFFF;
	border-radius: 0;
}
.wells span {
	color: #000000;
}